<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список клиентов</title>
    <!-- Ваши стили CSS можно добавить здесь -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Список клиентов</h1>

        <table>
            <thead>
                <tr>
                    <th>ID клиента</th>
                    <th>Имя клиента</th>
                    <th>Email</th>
                    <!-- Другие заголовки столбцов, если необходимо -->
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.client_id }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.email }}</td>
                    <!-- Другие данные о клиентах, если необходимо -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="/employee/profile">Назад к профилю сотрудника</a>
    </div>
</body>
</html>